{% extends "base.html" %}

{% block title %}About - My Blog{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Train Up a Child Organization</title>
    <nav>
                <p></p>
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
              
           </nav>
</head>
<body>
   <h1>About Us</h1>
   <p>We are bla .. bla .. bla !!!</p>
   
</body>
</html>
-->